.EditProfile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    height: 215vh;
}

.ProfilePage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    width: 99vw;
}

.QuestionBar {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    text-align: center;
    align-self: center;
    width: 25%;
    font-size: 20px;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
  }