.HomePage {
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    height: 100vh;
}

.IntroText {
    font-size: 20px;
    text-align: center;
    align-self: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.GreetingPic {
    display: flex;
    height: 50vh;
    margin-bottom: 4vh;
    margin-left: auto;
    margin-right: auto;
}

.WebTitle {
    text-align: center;
    align-self: center;
    font-size: 40px;
    
}

.TitleDiv {
    margin-bottom: 10vh;
}