.ProfilePage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    width: 99vw;
}

.ProfilePic {
    align-self: center;
    height: 15vh;
    border-radius: 20%;
    margin-top: 1vh;
}

.EditButton {
    margin: auto;
}

.SocialsButtons {
    display: flex;
    align-self: center;
    justify-content: space-around;
    width: 99vw;
}

.SocialButton {
    background-color: #0F314C;
    color: white;
    border-radius: 20%;
    width: auto;
    font-size: 40px;
    padding: max(0px, 1%) max(0px, 3%);
    cursor: pointer;
}

.Icon {
    display:inline-table;
    flex-direction: row;
    align-self: flex-end;
    max-height:7vh;
    opacity: 0.9;
    margin: 1.5vh;
}